@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
    font-family: 'Potta One', cursive;
    background: url(image/vladislav-klapin-SymZoeE8quA-unsplash.jpg);
    background-size: 300px 500px;
    }

#output {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(235, 168, 168);
    height: 10vh;
    background-color:coral;

}

button {
    padding: 1rem 1.5rem;
    position:fixed;
    color: crimson;
    background-color: rgb(245, 206, 206);
    margin: 1rem;
    font-size: large;
    cursor: pointer;
    position: static;
}

button:hover {
    transform: scale(1.1);
}

h1,h3 {
    
    text-align: center;
}

